@media(max-width: 430px) {
    .store-title h1 {
        font-size: 26px;
    }

    section.banner .container h2, .title {
        font-size: 24px;
    }

    .container-cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 200px;
        height: 152px; 
    }

    .card img {
        width: 150px;
        height: 75px;
    }

    footer small {
        font-size: 10px;
    }
}

@media(max-width: 780px) {
    header p {
        font-size: 12px;
    }

    .store-title h1 {
        font-size: 30px;
    }

    section.banner .container h2, .title {
        font-size: 28px;
    }

    section.banner .container p, .description {
        font-size: 14px;
    }
}

@media(max-width: 1030px) {
    .container-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}